body{
    background-color: black;
}

h1{
    color: white;
    margin-left: 400px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.container{
    height: auto;
    width: 800px;
    background-color: white;
    
    position: relative;
    top: 70px;
    left: 23%;
}

.container_onkunde{
    height: auto;
    width: 800px;
    background-color: white;
    
    position: relative;
    top: 70px;
    left: 23%;
}

.container h2{
    font-size: 30px;
    color: black;
    font-family: cursive;
    margin-left: 50px;
}

.container_onkunde h2{
    font-size: 30px;
    color: black;
    font-family: cursive;
    margin-left: 50px;
}

.nav{
    width: 800px;
    height: 45px;
    background-color: darkred;
}

.nav a{
    color: snow;
    text-decoration: none;
    font-size: 24px;
    margin-left: 90px;
    
    position: relative;
    top: 10px;
}

input{
    float: right;
    margin-right: 50px
}

.footer{
    position: relative;
    top: 20px;;
    height: 45px;
    width: 800px;
    background-color: darkslategray;
}

.footer p{
    text-align: center;
    color: whitesmoke;
}



/*  */

.result{
    display: none;
}