body{
    background-color: #151515;
}

h1{
    color: white;
    margin-left: 330px;
    top: -10px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kaushan Script', cursive;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}


.container{
    height: auto;
    width: 800px;
    background-color: white;
    
    position: relative;
    top: -30px;
    left: 23%;
}

.container_onkunde{
    height: auto;
    width: 800px;
    background-color: white;
    
    position: relative;
    top: 60px;
    left: 23%;
}

.container h2{
    font-size: 30px;
    color: black;
    font-family: cursive;
    margin-left: 50px;
}

.container_onkunde h2{
    font-size: 30px;
    color: black;
    font-family: cursive;
    margin-left: 50px;
}

.nav{
    width: 800px;
    height: 45px;
    background-color: #B40404;
}

.nav a{
    color: snow;
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
    
    position: relative;
    top: 10px;
}

input{
    float: right;
    margin-right: 50px;
}

 .submit{
    margin-right: 90px;
    margin-top: -20px;
}
.submit2{
    margin-right: 300px;
    margin-bottom: 40px;
    
}
.footer{
    position: relative;
    top: 20px;;
    height: 45px;
    width: 800px;
    background-color: #2E2E2E;
}

.footer p{
    text-align: center;
    padding-top: 10px;
    color: whitesmoke;
    margin-right: 40px;
}

.result{
    display: none;
}